body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf6f9;
    text-align: center;
}

header {
    background-color: #c2185b;
    color: white;
    padding: 20px;
}

section {
    padding: 20px;
}

ul {
    list-style-type: none;
}

button {
    padding: 10px 20px;
    background-color: #880e4f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ad1457;
}

footer {
    background-color: #c2185b;
    color: white;
    padding: 10px;
}